<footer class="container">
   
    <div class="container-legal">
        <h3>Legal</h3>
        <a data-toggle="modal" data-target="#exampleModalLong" href="">Términos y Condiciones</a>
       

    </div>
    <div class="container-politicas">
        <h3>Politicas</h3>
        <a data-toggle="modal" data-target="#QuienesSomos" href="">Quienes somos</a>
        
    </div>
   


</footer>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Términos y Condiciones</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            ¿Qué son los términos y condiciones de uso?
            Los términos y condiciones, también conocidos como condiciones de uso y contratación, son elementos que regulan la relación con el usuario respecto al acceso de los contenidos y de los servicios que se ponen a disposición a través de la página web. Dichas condiciones son redactadas unilateralmente por el empresario titular de la página web o tienda online sin posibilidad de que los usuarios tengan capacidad de negociación dado que se trata de contratos de adhesión.
        </div>
       
      </div>
    </div>
  </div>


  
  
  
  <div class="modal fade" id="QuienesSomos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Quienes Somos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            En el mundo del ecommerce, es clave generar confianza en las visitas de tu tienda online con el objetivo de convertirlas en compradores. Con esta meta en tu cabeza, tu página de “Quiénes somos” es un recurso súper útil para aquellos visitantes que se interesan por un producto de tu tienda pero que, al no conocer tu marca, no están seguros de avanzar en el proceso de compra.
        </div>
       
      </div>
    </div>
  </div>