.container {
    display: flex;
    width: 100vw;
    height: 30vh;
}

.container-legal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
}

.container-politicas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
}


h3{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 30px;
   
}

a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
