<footer class="container">
    <div class ="container-contact">
        <h3>Horario</h3>
        <span>correo</span>
        <span>numero fijo</span>
        <span>celular</span>
        <span>direccion</span>

    </div>
    <div>
        <h3>Legal</h3>
        <span>Términos y Condiciones</span>
        <span>Políticas</span>

    </div>
    <div>
        <span>Quienes Somos</span>
        <span>Como Funciona</span>
        <span>Beneficios</span>
    </div>
    <div>
        <h3>Síguenos en</h3>
        <span>fb</span>
        <span>instagram</span>
        <span>youtube</span>
    </div>


</footer>