.containers {
    padding-top:5%;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 66vh;
    border-radius: 10px;
    
}


.containers-user {

    width: 30vw;
    background: white;
    border-radius: 10px;
}

.containers-information {

    width: 30vw;
    border-radius: 10px;
}


h1 {
    color: #3f51b5;
    font-weight: 500;
    font-size: 28px;
}

.containers-p{
    width: 30vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}