.container {
    padding-top:5%;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 66vh;
    
}


.container-user {

    width: 40vw;
    border: 1px black solid;
}

.container-information {

    width: 40vw;
    border: 1px black solid;
}
