.container {
    padding-top:5%;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 66vh;
    
}

.container-info {

    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.container-info_big{
    padding-bottom: 10px;
}

.container-select {

    width: 30vw;
  
}

.mat-slider-thumb {
    background-color: yellow !important;
}

h1{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 45px;
}

h5{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 30px;
   
}

