<main class="container">
   
      <div class="container-info">
         <div class="container-info_big">
            
            <h1>Tu Préstamo</h1>
            <h1>Personal</h1>
            <h1>100% en línea</h1>
         </div>
         <div class="container-info_small">
            <h5>Desembolsamos en 2 horas</h5>
            <h5>en tu Banco</h5>
            <h5>hasta $ 2.000.000</h5>
         </div>
           
        
      </div>
      <div class="container-select">
  
              <div *ngIf="show === 'amount'">
                  <app-amount (changeView)="listenEvent($event)"></app-amount>
              </div>
             
          
            
      </div>
 </main>



