
<main class="containers">
  <div class="containers-form">
    <form #login="ngForm" (ngSubmit)="onSubmit(login)" novalidate>
      <mat-form-field class="example-full-width input1">
        <mat-label>Email</mat-label>
        <input matInput name="Correo" ngModel required #Correo="ngModel" placeholder="nombre@mail.co">
      </mat-form-field>
      <mat-form-field class="example-full-width">
      <mat-label>Contraseña</mat-label>
      
      <input type="password" matInput  name="Contraseña" ngModel required #Contraseña="ngModel" placeholder="Mínimo 8 caracteres">
      </mat-form-field>
      <button mat-raised-button color="primary" >Iniciar Sesión</button>
     
     
    </form>

  </div>

  
</main>



